@media (max-width:375px) {


    header {
        padding-inline: 14px;

    }

.section1{padding-inline: 14px
    ;}

}

@media (max-width:450px){

    /* section2 */
.section2{padding-inline: 14px;}
}