@media (max-width:380px) {

    /* header */
    nav {
        display: none;
    }

    .menu {
        display: block;
    }

    header {
        padding-inline: 14px;

    }

    /* section1 */

    .section1_h {
        font-size: 32px;
        line-height: 40px;
    }

    .section1_p {
        font-size: 14px;
        line-height: 22px;
    }


}