@media (max-width: 835px) {

    /* header */
    header {
        padding-inline: 67px;
    }


    /* section2 */

.section2{padding-inline: 67px;}



}

@media (max-width: 660px) {

    /* header */
    nav {
        display: none;
    }

    .menu {
        display: block;

    }
}

@media (max-width:605px) {

    /* section1 */
    .section1_h {
        font-size: 32px;
        line-height: 40px;
    }

    .section1_p {
        font-size: 14px;
        line-height: 22px;
    }

    /* section2 */
    .section2_div{display: flex; flex-direction: column; column-gap: 24px;}
}